<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid mode="ios">
    <ion-card *ngFor="let notification of notifications">
      <ion-card-header mode="ios" color="none">
        <ion-card-subtitle mode="ios">{{notification.createdOn}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content mode="ios">
        <ion-item lines="none" mode="ios" color="none">
          <ion-icon name="notifications-outline" slot="start" color="warning"></ion-icon>
          <ion-label>{{notification.message}}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>